<div class="articledetails">
  <div class="articleheader">
    <h1>{{model.title}}</h1>
  </div>
  <div class="articleimg"></div>
  <h3>{{model.author}}</h3>
  <p>{{model.time}} • {{model.category}}</p>

  <p>
    {{model.body}}
  </p>

</div>
